<%- include('../layouts/admin/header.ejs') %>
<%- include('../layouts/admin/sidebar.ejs') %>



<style>
    .footer-bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid #333;
            margin-top: 40px;
            padding-top: 20px;
            text-align: center;
            color: #666;
        }
</style>

<div class="footer-bottom">
    <p>Cyber Crate eCommerce  2021. All right reserved</p>
</div>
<%- include('../layouts/admin/footer.ejs') %>